name: "Fund Data Checkin"



on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"



env:
  RUN_ENV: 'prod'

jobs:
  check-fund-data:
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout master
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          # ref: master

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run fund checkin script
        run: |
          python ./main.py

      - name: Send result
        if: github.event_name == 'schedule'
        env:
          URL: ${{ secrets.URL }}
          SCKEY: ${{ secrets.SCKEY }}
          EMAIL: ${{ secrets.EMAIL }}
          PASSWD: ${{ secrets.PASSWD }}
        run: |
          python3 ./main.py
